package main

const (
	ProjectID          = "some-project-id"
	Zone               = "us-central1-b"
	ClusterID          = "some-cluster-name"
	DisplayName        = "Display name for cluster"
	ServeNodes         = 3
	KeyFile            = "keyfile.json"
	ScopeCloudPlatform = "https://www.googleapis.com/auth/cloud-platform"
)
